<style>
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
</style>

  <% if @report.report_data['include_ticket_distribution'] == '1' %>
    <div id="donutchart" class='draggable' style=' width: 10%; height: 10%;'></div>
  <% end %>

  <% if @report.report_data['include_ticket_statistics'] == '1' %>
    <div style='display:flex' class='draggable'>
      <div id='chart_div' style='width: 1200px; height: 500px; margin-left: -100px'></div>
    </div>
  <% end %>

  <% if @report.report_data['include_ticket_distribution'] == '1' %>
    <div id="piechart" class='draggable'></div>
  <% end %>

  <% if @report.report_data['include_ticket_statistics'] == '1' %>
    <div id='average' class='draggable'>
      <h3>Average ticket completion time </h3>
      <%= @report.get_average_ticket_solving_time.round(2).to_s + " Hours" %>
    </div>
  <% end %>

  <% if current_user.can_see_all_charts?(@report.projects.first) && @report.report_data['include_employee_statistics'] == '1' %>
    <div id="employees" style='height: 700px; margin-bottom: 50px;' class='draggable'></div>
  <% end %>

  <div id='events' class='draggable'>
    <% @report.get_event_list.each do |event| %>
      <div style='border-bottom: 1px solid black; padding-bottom: 15px; padding-top: 15px; padding-left: 20px' >
        <strong> <%= event.created_at.strftime("%d-%m-%Y %H:%M") + ":" %> </strong>
        <%= event.message %>
      </div>
    <% end %>
  </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);
  google.charts.setOnLoadCallback(drawChart1);
  google.charts.setOnLoadCallback(drawChart2);
  google.charts.setOnLoadCallback(drawEmployees);
  var doc = new jsPDF();
  doc.addPage();
  doc.setPage(2);
  //var rect1 = $("#events").getBoundingClientRect();
  doc.addHTML($("#events"), 20, 100 );
  //var rect2 = $("#average").getBoundingClientRect();
  doc.addHTML($("#average"), 20, 20 );
  doc.setPage(1);
  var btnSave = document.getElementById('save-pdf');
  doc.addHTML($("#links"), 20, 20 );

  function drawChart1() {
    var data = google.visualization.arrayToDataTable([
      ['Date', 'Tickets created', 'Tickets done'],
      <% (@report.report_data['start_date'].to_date..@report.report_data['end_date'].to_date).each do |day| %>
        ['<%= day.strftime("%Y-%-m-%-d").to_s %>', <%= @report.get_filtered_by_created(day).count - @report.get_filtered_by_created(day - 1).count %>, <%= @report.get_filtered_by_ended(day).count - @report.get_filtered_by_ended(day - 1).count %>],
      <% end %>
    ]);
    var options = {
      title: 'Progress timeline',
      curveType: 'function',
      legend: { position: 'bottom' }
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    doc.addImage(chart.getImageURI(), 0, 125, 150, 75);
  }

  function drawChart2() {
    var data = google.visualization.arrayToDataTable([
      ['Ticket type', 'Number of tickets'],
      ['Tasks', <%= @report.get_tasks.count %>],
      ['Subtasks', <%= @report.get_subtasks.count %>],
      ['Bugs', <%= @report.get_bugs.count %>]
    ]);
    var options = { title: 'Tickets distribution' };
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    function selectHandler() {
      var selectedItem = chart.getSelection()[0];
      if (selectedItem) {
        var topping = data.getValue(selectedItem.row, 0);
        if (topping == "Tasks") {
          $( "#dialog5" ).dialog();
        }
        else if (topping == "Subtasks") {
          $( "#dialog6" ).dialog();
        }
        else if (topping == "Bugs") {
          $( "#dialog7" ).dialog();
        }
      }
    }
    google.visualization.events.addListener(chart, 'select', selectHandler);
    chart.draw(data, options);
    var rect = chart.getBoundingClientRect();
    doc.addImage(chart.getImageURI(), 125, 125, 100, 100);
  }

  function drawEmployees() {
    var data = google.visualization.arrayToDataTable([
      ['Employee', 'Tickets completed', 'Total tickets'],
      <% @report.users.select{|user| user.tasks.count > 0}.each do |user| %>
        ['<%= user.full_name %>', <%= user.tasks.where(:status => 'Done').count + user.tasks.where(:status => 'Dev complete').count %>, <%= user.tasks.count %>],
      <% end %>
    ]);

    var options = {
      chart: {
        title: 'Employee Performance',
      },
      bars: 'horizontal',
    };

    var chart = new google.charts.Bar(document.getElementById('employees'));
    chart.draw(data, options);
    var rect = document.getElementById('employees').getBoundingClientRect();
    doc.setPage(2);
    doc.addImage(chart.getImageURI(), 0, 0, 100, 100);
  }

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Ticket with status', 'Number of tickets'],
    ['To do', <%= @report.get_filtered_by_status("To do").count %>],
    ['In progress', <%= @report.get_filtered_by_status("In progress").count %>],
    ['Dev complete', <%= @report.get_filtered_by_status("Dev complete").count %>],
    ['Done', <%= @report.get_filtered_by_status("Done").count %>]]);
    var options = {title: "Progress status", titleTextStyle: {color: 'black', fontName: 'Ubuntu', fontSize: 20}, pieHole: 0.4, 'width':750, 'height':600,
      pieSliceTextStyle: {color: 'white', fontName: 'Ubuntu', fontSize: 18}, legendTextStyle: {color: 'black', fontName: 'Ubuntu', fontSize: 18}};
    function selectHandler() {
      var selectedItem = chart.getSelection()[0];
      if (selectedItem) {
        var topping = data.getValue(selectedItem.row, 0);
        if (topping == "To do") {
          $( "#dialog1" ).dialog();
        }
        else if (topping == "In progress") {
          $( "#dialog2" ).dialog();
        }
        else if (topping == "Dev complete") {
          $( "#dialog3" ).dialog();
        }
        else if (topping == "Done") {
          $( "#dialog4" ).dialog();
        }
      }
    }
    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    google.visualization.events.addListener(chart, 'select', selectHandler);
    chart.draw(data, options);
    var rect = document.getElementById('donutchart').getBoundingClientRect();
    btnSave.addEventListener('click', function () {
      doc.setPage(1);
      doc.addImage(chart.getImageURI(), document.getElementById('donutchart').offsetLeft/10, document.getElementById('donutchart').offsetTop, 75, 55);
      doc.save('chart.pdf');
    }, false);
  }

</script>

<script>
 $(document).on('mouseover', function() {
    $( '.draggable' ).draggable({
        appendTo: "body",
        helper: "clone"
      });
    $( '.droppable' ).droppable({
      drop: function( event, ui ) {
          $( this ).find( ".placeholder" ).hide();
          $(ui.draggable).appendTo(this);
      }
    });
  });
</script>
