<style>
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
</style>


<% if current_user.can_change_report_availability? %>
  <%= form_for @report, :url => {:action => :change_availability} do |form| %>
    <% if @report.is_available_to_clients? %>
      <%= form.hidden_field :available_to_clients, :value => 0 %>
      <p>
        <%= form.submit "Make unavailable to clients", {class: "btn btn-info collapsed", :style => 'font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
      </p>
    <% else %>
      <%= form.hidden_field :available_to_clients, :value => 1 %>
      <p>
        <%= form.submit "Make available to clients", {class: "btn btn-info collapsed", :style => 'font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Download', controller: "reports", action: "download", id: @report.id %>
