<style>
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<% if current_user.can_change_report_availability? %>
  <%= form_for @report, :url => {:action => :change_availability} do |form| %>
    <% if @report.is_available_to_clients? %>
      <%= form.hidden_field :available_to_clients, :value => 0 %>
      <p>
        <%= form.submit "Make unavailable to clients", {class: "btn btn-info collapsed", :style => 'font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
      </p>
    <% else %>
      <%= form.hidden_field :available_to_clients, :value => 1 %>
      <p>
        <%= form.submit "Make available to clients", {class: "btn btn-info collapsed", :style => 'font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
      </p>
    <% end %>
  <% end %>
<% end %>

<%#= link_to 'Download', controller: "reports", action: "download", id: @report.id %>

<%= render @report %>

<div id='dialog1' title="To do list" style='display: none;'>
  <% @report.get_filtered_by_status("To do").each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>

<div id='dialog2' title="In progress list" style='display: none;'>
  <% @report.get_filtered_by_status("In progress").each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>

<div id='dialog3' title="Dev complete list" style='display: none;'>
  <% @report.get_filtered_by_status("Dev complete").each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>

<div id='dialog4' title="Done list" style='display: none;'>
  <% @report.get_filtered_by_status("Done").each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>

<div id='dialog5' title="Task list" style='display: none;'>
  <% @report.get_tasks.each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>

<div id='dialog6' title="Subtask list" style='display: none;'>
  <% @report.get_subtasks.each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>

<div id='dialog7' title="Bug list" style='display: none;'>
  <% @report.get_bugs.each do |t| %>
    <p><%= link_to t.title, ticket_path(t), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%></p>
  <% end %>
</div>
