<style>
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
</style>

<% if current_user.can_change_report_availability? %>
  <%= form_for @report, :url => {:action => :change_availability} do |form| %>
    <% if @report.is_available_to_clients? %>
      <%= form.hidden_field :available_to_clients, :value => 0 %>
      <p>
        <%= form.submit "Make unavailable to clients", {class: "btn btn-info collapsed", :style => 'font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
      </p>
    <% else %>
      <%= form.hidden_field :available_to_clients, :value => 1 %>
      <p>
        <%= form.submit "Make available to clients", {class: "btn btn-info collapsed", :style => 'font-size: 18px; font-weight: bold; font-family: "Ubuntu"'}%>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Download', controller: "reports", action: "download", id: @report.id %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Ticket with status', 'Number of tickets'],
    ['To do', <%= @report.get_filtered_by_status("To do").count %>],
    ['In progress', <%= @report.get_filtered_by_status("In progress").count %>],
    ['Dev complete', <%= @report.get_filtered_by_status("Dev complete").count %>],
    ['Done', <%= @report.get_filtered_by_status("Done").count %>]
  ]);
    var options = {title: "Progress status", titleTextStyle: {color: 'black', fontName: 'Ubuntu', fontSize: 20}, pieHole: 0.4, 'width':750, 'height':600,
      pieSliceTextStyle: {color: 'white', fontName: 'Ubuntu', fontSize: 18}, legendTextStyle: {color: 'black', fontName: 'Ubuntu', fontSize: 18}};
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var topping = data.getValue(selectedItem.row, 0);
            if (topping == "To do") {
              alert(//<% @report.get_filtered_by_status("To do").each do |t| %>
                //<%= link_to t.title, ticket_path(t) %>
              //<% end %>
              <%= @report.get_filtered_by_status("To do").count %>
            );
            }
            else if (topping == "In progress") {
              alert(<%= @report.get_filtered_by_status("In progress").count %>);
            }
            else if (topping == "Dev complete") {
              alert(<%= @report.get_filtered_by_status("Dev complete").count %>);
            }
            else if (topping == "Done") {
              alert(<%= @report.get_filtered_by_status("Done").count %>);
            }
          }
        }
    google.visualization.events.addListener(chart, 'select', selectHandler);
    chart.draw(data, options);
  }
</script>
<script type='text/javascript'>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Date', 'Tickets created', 'Tickets completed'],
      <% (@report.report_data['start_date'].to_date..@report.report_data['end_date'].to_date).each do |day| %>
        ['<%= day.strftime("%Y-%-m-%-d").to_s %>', <%= @report.get_filtered_by_created(day).count %>, <%= @report.get_filtered_by_ended(day).count %>],
      <% end %>
    ]);

    var options = {
      title: 'Progress timeline',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<div style='display:flex'>
  <div>
    <h3>Employees </h3>
    <div style='margin-top: 20px; margin-right: 40px; margin-bottom: 40px'>
      <% @report.users.each do |user| %>
        <td class="col-xs-2"><%= link_to user.full_name, user_path(user), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %></td><br>
      <% end %>
    </div>
  </div>

  <div>
    <h3>Projects </h3>
    <div style='margin-top: 20px; margin-bottom: 40px'>
      <% @report.projects.each do |project|%>
        <td class="col-xs-2"><%= link_to project.title, project_path(project), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %></td><BR>
      <% end %>
    </div>
  </div>

  <div class = "col-xs-1" id="piechart"></div>
</div>

<div id='chart_div' style='width: 900px; height: 500px;'></div>
