<h1>New comment</h1>

<%= form_for [@article, @comment] do |form| %>
  <%= form.hidden_field :parent_id, :value => @comment.parent_id %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', article_path(@article) %>

