<br>
<%= link_to "Back", root_path %>
<br>

<% if current_user.can_see_all_users %>
  <table cellpadding=15 cellspacing=15>
    <tr>
      <th></th>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-3">Type</th>
      <th class="col-xs-3">Email</th>
      <th colspan="2"></th>
    </tr>

    <% User.all.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar.url(:thumb), :class => "round-image-50") %></td>
        <td class="col-xs-3"><%= user.first_name + " " + user.last_name %></td>
        <td class="col-xs-3"><%= user.type %></td>
        <td class="col-xs-3"><%= user.email %></td>
        <td class="col-xs-2"><%= link_to 'View profile', user_path(user) %></td>
        <% if current_user.can_delete_user %>
          <td class="col-xs-2"><%= link_to 'Edit', edit_user_path(user) %></td>
          <td class="col-xs-2"><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% elsif current_user.can_see_employees %>
  <table cellpadding=15 cellspacing=15>
    <tr>
      <th></th>
      <th class="col-xs-3">Name</th>
      <th class="col-xs-3">Email</th>
      <th colspan="2"></th>
    </tr>

    <% Employee.all.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar.url(:thumb), :class => "round-image-50") %></td>
        <td class="col-xs-3"><%= user.first_name + " " + user.last_name %></td>
        <td class="col-xs-3"><%= user.email %></td>
        <td class="col-xs-2"><%= link_to 'View profile', user_path(user) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h1 style="color:red;"> <strong>ACCES DENIED</strong></h1>
<% end %>
