<h2>Create User</h2>

<%#= form_with model: @user, local: true do |f| %>
<%= form_for User.new, url: create_user_path do |f| %>
  <%#= devise_error_messages! %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :username %><br />
      <%= f.text_field :username, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-5">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :type %><br />
      <%= f.text_field :type, class: 'form-control', autofocus: true%>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :position %><br />
      <%= f.text_field :position, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-5">
      <%= f.label :address %><br />
      <%= f.text_field :address, class: 'form-control', autofocus: true, autocomplete: "off" %>
    </div>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Add user", {class: "btn btn-info collapsed"} %>
  </div>
<% end %>
<br>
<%= link_to "Back", :back %>
<%#= render "users/shared/links" %>