<p>
  <%= image_tag(@user.avatar.url(:medium)) %>
</p>

<p>
  <strong>Name</strong>
  <%= @user.first_name + " " + @user.last_name %>
</p>
 
<p>
  <strong>Email</strong>
  <td><%= @user.email %></td>
</p>

<p>
  <strong>Username</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password</strong>
  <td><%= @user.password %></td>
</p>

<p>
  <strong>Nickname</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>User Type</strong>
  <%= @user.type %>
</p>

<p>
  <strong>Address</strong>
  <%= @user.address %>
</p>

<p>
  <% if !@user.is_a? Client %>
    <strong>Position</strong>
    <%= @user.position %>
  <% end %>
</p>

<% if current_user.type == "Superuser" %>
<br>
<%= link_to 'Edit', edit_user_path(@user), {:style => 'color:#0079bf; font-size: 15px; font-weight: bold', class: "glyphicon glyphicon-edit"} %> | <td><%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:#0079bf; font-size: 15px; font-weight: bold', class: "glyphicon glyphicon-remove" %>
</td>
<br>
<% end %>

<%= link_to 'Back', users_path, {:style => 'color:#0079bf; font-size: 15px; font-weight: bold', class: "glyphicon glyphicon-arrow-left"}%>