<%= form_with(model: [ @ticket, @ticket.comments.build ]) do |form| %>
  <p>
    <%= form.hidden_field :commenter, :value => current_user.username %>
  </p>
  <p>
    <%= form.text_area :body %>
  </p>
  <div class="row">
    <div class="col-xs-4">
      <%= form.label :files %>
      <%= form.file_field :files, :multiple => true %>
    </div>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>
