<p>
  <%= ticket.title %>
</p>
 
<p>
  <strong>Description</strong><br>
  <%= ticket.description %>
</p>

<p>
  <% if current_user.id == ticket.owner_id %>
    <%=link_to 'Delete', [ticket.project, ticket], method: :delete,
              data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <% if current_user.id == ticket.owner_id %>
    <%= link_to 'Edit', edit_project_ticket_path(ticket.project, ticket) %> 
  <% end %>
</p>

<h2>Comments</h2>
<% ticket.comments.each do |comment| %>
   <%= render comment if !comment.parent_id.presence %>
<% end %>

<h2>Add a comment:</h2>
<%#= render 'comments/form' %>

<%= form_with(model: [ ticket, ticket.comments.build ]) do |form| %>
  <p>
    <%= form.hidden_field :commenter, :value => current_user.username %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<p>
<%= form_for [ticket.project, Ticket.new] do |form| %>
  <%= form.hidden_field :task_id, :value => ticket.id%>
  <% if ticket.project.project_workers.find_by(user_id: current_user.id).role_id == 3 %>
    <%= form.hidden_field :type, :value => "Bug"%>
  <% else %>
    <%= form.hidden_field :type, :value => "Task"%>
  <% end %>
  <%= form.hidden_field :type, :value => "Task"%>
  <%= form.hidden_field :status, :value => "To do"%>
  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <div class="form-group">
    <%= form.label :priority %> <br />
    <%= form.label :priority, 'High' %>
    <%= form.radio_button :priority, 'high' %><br>
    <%= form.label :priority, 'Medium' %>
    <%= form.radio_button :priority, 'medium' %><br>
    <%= form.label :priority, 'Low' %>
    <%= form.radio_button :priority, 'low' %>
    <br />
  </div>

  <p>
    <%= form.label :Developer %><br>
    <%= form.select :dev_id, @project.project_workers.select{|p| p.role_id == 2}.collect {|p| [Employee.find(p.user_id).full_name, p.user_id ]}, include_blank: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

</p>