<%= form_for [@ticket.project, Ticket.new] do |form| %>
  <%= form.hidden_field :task_id, :value => @ticket.id%>
  <% if @ticket.project.project_workers.find_by(user_id: current_user.id).role_id == 3  %>
    <%= form.hidden_field :type, :value => "Bug"%>
  <% else %>
    <%= form.hidden_field :type, :value => "Task"%>
  <% end %>
  <%= form.hidden_field :type, :value => "Task"%>
  <%= form.hidden_field :status, :value => "To do"%>
  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <div class="form-group">
    <%= form.label :priority %><br>
    <%= form.select :priority, ["High", "Medium", "Low"]%>
    <br />
  </div>

  <p>
    <%= form.label :Developer %><br>
    <%= form.select :dev_id, @ticket.project.project_workers.select{|p| p.role_id == 2}.collect {|p| [Employee.find(p.user_id).full_name, p.user_id ]}, include_blank: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
