
<div class="cards-container">
  <div class="cards-container-head">
    <div class="cards-container-title"><%=id%> </div>
    <% if id == "To do" %>
      <div class="cards-container-title">
        <% if tickets.count > 0 %>
          <% if current_user.is_manager?(tickets.first.project.id) %>
            <%= link_to '<i class="glyphicon glyphicon-plus"></i> New task'.html_safe, new_project_ticket_path(@project), {:style => 'color:#0079bf; font-size: 20px; font-weight: bold, background-color: white'} %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-container" id='<%=id%>'>
    <% if tickets.count > 0 %>
      <% tickets.each do |ticket|%>

        <% if current_user.can_alter_ticket?(ticket) || current_user.is_manager?(ticket.project.id) %>
          <div class="card-header" id='<%=ticket.id%>' style = ' border-color: <%= ticket.get_class_colour%>; background-color: <%= ticket.get_class_colour%>; '>
            <div style='background-color: <%= ticket.get_colour%>; width: 100%; border-bottom: 3px solid <%= ticket.get_colour%>; border-top: 3px solid <%= ticket.get_colour%>; border-left: 3px solid <%= ticket.get_colour%>; border-right: 3px solid <%= ticket.get_colour%>; border-radius: 5px;' >
              <div class='<%= ticket.get_glyph%>' style='font-size: 20px'></div>
              <%= link_to ticket.title, ticket_path(ticket), {:style => 'margin-left: 20px; color: white; font-size: 20px; font-weight: bold'}%>
              <div style='text-align: center'>
                  <% if current_user.is_manager?(ticket.project.id)%>
                  <%= link_to '  <i class="glyphicon glyphicon-edit"></i> '.html_safe, edit_project_ticket_path(ticket.project, ticket), {:style => 'color:white; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %> | 
                  <%= link_to '<i class="glyphicon glyphicon-remove"></i> '.html_safe, [ticket.project, ticket], method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:white; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'%> |
                <% end %>
                <%= link_to '  <i class="glyphicon glyphicon-file"></i> '.html_safe, ticket_files_path(ticket), {:style => 'color:white; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %> |
                <%= link_to '  <i class="glyphicon glyphicon-comment"></i> '.html_safe, comments_path(ticket), {:style => 'color:white; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %> | 
                <a href="#<%=ticket.id%>" class="fancybox2" style = ' color: white; font-size: 18px; font-weight: bold'><span class="glyphicon glyphicon-zoom-in"></span></a>
              </div>
            </div>
            <div style='color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'>
              <strong>Created at: </strong> <%= ticket.created_at.strftime("%d-%m-%Y")%> 
            </div>
            <% if ticket.task.presence %>
              <div>
                Parent task: <%= link_to ticket.task.title, ticket_path(ticket.task), {:style => 'color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'}%> 
              </div>
            <% end %>
            <% if current_user.can_see_project_details?%>
              <div style='font-weight: bold'>
                Creator: <%= link_to ticket.get_owner.full_name, user_path(ticket.get_owner), {:style => 'color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'}%> 
              </div>
              <div style='font-weight: bold'>
                Assigned Dev: <%= link_to ticket.get_dev.full_name, user_path(ticket.get_dev), {:style => 'color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'}%> 
              </div>
            <% end %>
            <div style='color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>Description</div>
            <%= ticket.description %>

            <div class="row" style="text-align: center">
              <% if ticket.subtasks.any? %>
                <div class = "col-xs-5" style='color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>
                  Subtasks<br>
                  <% ticket.subtasks.each do |subtask| %>
                    <%= link_to subtask.title, ticket_path(subtask), {:style => 'color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'}%> <br>
                  <% end %>
                </div>
              <% end %>

              <% if ticket.bugs.any? %>
                <div class = "col-xs-5" style='color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>
                  Bugs<br>
                  <% ticket.bugs.each do |bug| %>
                    <%= link_to bug.title, ticket_path(bug), {:style => 'color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'}%> <br>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        <% else %>
          <div class="card-header-1" id=<%=ticket.id%> style = 'font-color:#FFFFFF; border-color: <%= ticket.get_class_colour%>; background-color: <%= ticket.get_class_colour%>;'>
            <div style='background-color: <%= ticket.get_colour%>; width: 100%; border-bottom: 3px solid <%= ticket.get_colour%>; border-top: 3px solid <%= ticket.get_colour%>; border-left: 3px solid <%= ticket.get_colour%>; border-right: 3px solid <%= ticket.get_colour%>; border-radius: 5px;' >
              <div class='<%= ticket.get_glyph%>' style='font-size: 20px'></div>
              <%= link_to ticket.title, ticket_path(ticket), {:style => 'margin-left: 20px; color: white; font-size: 20px; font-weight: bold'}%>
              <div style='text-align: center'>
                <%= link_to '  <i class="glyphicon glyphicon-file"></i> '.html_safe, ticket_files_path(ticket), {:style => 'color:white; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %> |
                <%= link_to '  <i class="glyphicon glyphicon-comment"></i> '.html_safe, comments_path(ticket), {:style => 'color:white; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %> | 
                <a href="#<%=ticket.id%>" class="fancybox2" style = ' color: white; font-size: 18px; font-weight: bold'><span class="glyphicon glyphicon-zoom-in"></span></a>
              </div> 
            </div>
            <div style='color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'>
              <strong>Created at: </strong> <%= ticket.created_at.strftime("%d-%m-%Y")%> 
            </div>
            <% if ticket.task.presence %>
              <div>
                Parent task: <%= link_to ticket.task.title, ticket_path(ticket.task), {:style => 'color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'}%> 
              </div>
            <% end %>
            <% if current_user.can_see_project_details?%>
              <div style='font-weight: bold'>
                Creator: <%= link_to ticket.get_owner.full_name, user_path(ticket.get_owner), {:style => 'color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'}%> 
              </div>
              <div style='font-weight: bold'>
                Assigned Dev: <%= link_to ticket.get_dev.full_name, user_path(ticket.get_dev), {:style => 'color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'}%> 
              </div>
            <% end %>
            <div style='color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>Description</div>
            <%= ticket.description %>
            <div class="row" style="text-align: center">
              <% if ticket.subtasks.any? %>
                <div class = "col-xs-5" style='color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>
                  Subtasks<br>
                  <% ticket.subtasks.each do |subtask| %>
                    <%= link_to subtask.title, ticket_path(subtask), {:style => 'color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'}%> <br>
                  <% end %>
                </div>
              <% end %>

              <% if ticket.bugs.any? %>
                <div class = "col-xs-5" style='color: white; font-size: 18px; font-weight: bold; font-family: "Ubuntu", sans-serif;'>
                  Bugs<br>
                  <% ticket.bugs.each do |bug| %>
                    <%= link_to bug.title, ticket_path(bug), {:style => 'color: white; font-size: 18px; font-family: "Ubuntu", sans-serif;'}%> <br>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<script>
 $(document).on('mouseover', function() {
    $( '.card-header' ).draggable({
        appendTo: "body",           
        helper: "clone"
      });
    $( '.card-container' ).droppable({
      drop: function( event, ui ) {
        var roomid= document.getElementById(ui.draggable.attr('id')).parentNode.id;
        if((this.id == "In progress" && roomid == "To do") ||
          (this.id == "Dev complete" && roomid == "In progress") ||
          (this.id == "Done" && roomid == "Dev complete") ||
          (this.id == "To do" && roomid == "Done") ||
          (this.id == "To do" && roomid == "Dev complete") || (<%= current_user.is_manager?(@project.id)%>))
        {
          $( this ).find( ".placeholder" ).hide();
          $(ui.draggable).appendTo(this);
          var id = ui.draggable.attr('id');
          $.ajax({
            url: '/tickets/'+ id + '/change_status',
            type: 'PATCH',
            data: { status: this.id }
          });
        }
      }
      });
  } );  
</script>

<!--p>
  drag: function(event,ui) {
            $("div.card-header").width(213);
        },<p-->
