<style>
body { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
</style>

<p>
  <strong style='color:#000000; font-size: 25px;'><%= @project.title %></strong>
</p>
<br>
<% if @project.employees.any? %>
  <p>
    <strong>Manager</strong><br>
    <%= link_to @project.employees.select{ |e| e.is_manager?(@project.id) }.first.full_name, user_path(@project.employees.select{ |e| e.is_manager?(@project.id) }) %>
  </p>
  <br>
<% end %>
<p>
  <strong>Description</strong><br>
  <%= @project.description %>
</p>

<br>
<% if current_user.can_change_manager? %>
  <%= form_for @project, :url => {:action => :add_employees} do |form| %>
    <%= form.hidden_field :role_id, :value => '1' %>
    <%= form.collection_select :employee_ids, (Employee.select{ |e| e.roles.include?(Role.first) } - @project.employees), :id, :full_name, multiple: true, include_blank: false %>
    <p>
      <%= form.submit 'Add project manager', {class: "btn btn-info collapsed"} %>
    </p>
  <% end %>
<% end %>

<br>
<% if current_user.can_delete_project? %>
  <%= link_to 'Edit', edit_project_path(@project), {:style => 'color:#0079bf; font-size: 18px; font-weight: bold', class: "glyphicon glyphicon-edit"} %> | <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, :style => 'color:#0079bf; font-size: 18px; font-weight: bold', class: "glyphicon glyphicon-remove" %>
<% end %>
<br>

<%= link_to '<i class="glyphicon glyphicon-arrow-left"></i> Back'.html_safe, projects_path, {:style => 'color:#0079bf; font-size: 18px; font-weight: bold; font-family: "Ubuntu"'} %>
