<p>
  <strong>Title</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Description</strong>
  <td><%= @project.description %></td>
</p>

<%= form_for @project, :url => {:action => :add_client} do |form| %>
  <%= form.collection_select :client_id, (Client.all - @project.clients), :id, :full_name, include_blank: true %>
  <p>
    <%= form.submit 'Add client' %>
  </p>
<% end %>
<br>

<%= form_for @project, :url => {:action => :add_project_manager} do |form| %>
  <%= form.collection_select :employee_ids, Employee.select{ |e| e.roles.include?(Role.first) }, :id, :full_name, include_blank: true %>
  <p>
    <%= form.submit 'Add project manager' %>
  </p>
<% end %>

<br>
<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Destroy', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<%= link_to 'Back', projects_path %>